spring:
  data:
    mongodb:
      uri: "${MONGO_DB_URI}/it-offers-integration-tests"
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    baseline-on-migrate: true
    enabled: true
    password: admin
    user: admin
    baseline-description: "init"
    baseline-version: 0
logging:
  level:
    org:
      springframework:
        security: DEBUG