name: it-offers ci/cd
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.11.0
      with:
        mongodb-version: '6.0'
        mongodb-replica-set: test-rs
        mongodb-username: admin
        mongodb-password: admin
        mongodb-db: it-offers-integration-tests

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build and test with Maven
      run: |
        mvn clean install
        mkdir artifacts && cp target/*.jar artifacts
        cd artifacts && ls
      env:
        POSTGRES_HOST: localhost
        POSTGRES_DB: it-offers
        JWT_SECRET: 2D4A614E645267556B58703273357638792F423F4428472B4B6250655368566D
        MONGO_DB_URI: mongodb://localhost:27017

    - name: Save artifact
      uses: actions/upload-artifact@v3
      with:
        name: github-action-artifact
        path: artifacts

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/it-offers:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull image from docker hub
        run: sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/it-offers:latest

      - name: Remove docker container
        run: sudo docker rm -f it_offers_container

      - name: Run docker container
        run: sudo docker run -d -p 80:8080 -e "SPRING_PROFILES_ACTIVE=prod" --name it_offers_container ${{ secrets.DOCKERHUB_USERNAME }}/it-offers:latest